<header>
    <nav class="navbar">
        <div class="logo">
            <a href="#">AttendoSync</a>
        </div>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div> <!-- Hamburger icon -->
        <ul class="nav-menu" id="nav-menu">
            <li><a routerLink="/home">Home</a></li>
            <!-- <li><a routerLink="/employee">Employee</a></li> -->
            <li><a routerLink="/attendance">Attendance</a></li>
            <li><a routerLink="/reports">Reports</a></li>
            <li><a routerLink="/department">Department</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/profile">Profile</a></li>
        </ul>
    </nav>
</header>


<router-outlet></router-outlet>

