<div class="profile-container">
  <h2>Admin Profile</h2>

  <table class="profile-table">
    <tr>
      <th>ID</th>
      <td>{{ employee.id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ employee.name }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ employee.email }}</td>
    </tr>
    <tr>
      <th>Contact</th>
      <td>{{ employee.contact }}</td>
    </tr>
    <tr>
      <!-- <th>Department</th>
      <td>{{ employee.department }}</td>
    </tr> -->
    <!-- <tr>
      <th>Salary</th>
      <td>{{ employee.salary }}</td>
    </tr> -->
    <tr>
      <th>Address</th>
      <td>{{ employee.address }}</td>
    </tr>
  </table>
</div>
